<div class="bigImage valign-wrapper">
  <div class="valign">
    <div class="container">
        <h1 class="hide-on-small-only title">Encontre a melhor oferta de imóvel!</h1>
        <h1 class="hide-on-med-and-up center-align">Ache seu imóvel!</h1><br/>
    </div>
  </div>
</div>

<%= params.inspect %>

<div class="container body">
<%= render "layouts/search" %>

<h2 class="hide-on-med-and-up">Imóveis</h2>
  <div class="row">

    <% @destaques.each do |imovel| %>
      <%= render "layouts/thumb", :imovel => imovel %>
    <% end %>
  </div>
</div>