<div class="bigImage valign-wrapper">
  <div class="valign">
    <div class="container">
        <h1 class="hide-on-small-only title">Encontre a melhor oferta de im贸vel!</h1>
        <h1 class="hide-on-med-and-up center-align">Ache seu im贸vel!</h1><br/>
    </div>
  </div>
</div>

<div class="container body">
<%= render "layouts/search" %>

<h2 class="hide-on-small-only">Im贸veis em destaque:</h2>
<h2 class="hide-on-med-and-up">Im贸veis</h2>
  <div class="row">
    <% @destaques.each do |imovel| %>
      <%= render "layouts/thumb", :imovel => imovel %>
    <% end %>
  </div>
</div>