<div class="row contatopage">
	<div class="col l7 contactList">
	<h2>Contato</h2>
	<p>Mizu Imóveis, Av. da Folha 869, Kanoha, Estado do Fogo</p>
		<ul>
			<li><%= inline_svg("phone.svg", class: "icone2" ) %> <a href="tel:00000000">(00)000 000</a></li>
			<li><%= inline_svg("whatsapp2.svg", class: "icone2" ) %><a href="tel:00000000">(00)000 000</a></li>
			<li><%= inline_svg("mail.svg", class: "icone2" ) %><a>contato@mizuimovels.com.br</a></li>
		</ul>
	</div>
	<div class="card-panel teal col l5 message-form">
		<form action="">
		<div class="row">
			<h5 class="center">Deixe uma mensagem!</h5>
		<div class="col l12">
			<input type="text" placeholder="Digite seu email...">
		</div>
		<div class="col l12">
			<textarea name="" id="" rows="10" placeholder="Digite sua mensagem..."></textarea>
		</div>
		<div class="col l12">
      <button class="btn waves-effect waves-light teal lighten-2" type="submit" name="action">Enviar
         <i class="mdi-content-send right"></i>
      </button> 
      </div>
      </div>
		</form>
	</div>
</div>
<style>
	body {
		background: #e0e0e0;
}
</style>