<div class="row">
<h1>Contato</h1>
	<div class="col l7 contactList">
		<ul>
			<li><%= inline_svg("phone.svg", class: "icone2" ) %> <a href="tel:00000000">(00)000 000</a></li>
			<li><%= inline_svg("whatsapp2.svg", class: "icone2" ) %><a href="tel:00000000">(00)000 000</a></li>
			<li><%= inline_svg("mail.svg", class: "icone2" ) %><p>contato@mizuimovels.com.br</p> </li>
		</ul>
	</div>
	<div class="col l5 message-form">
		<form action="">
			<input type="text" placeholder="Digite seu nome...">
			<input type="text" placeholder="Digite seu email...">
			<textarea name="" id="" cols="30" rows="10" placeholder="Digite sua mensagem..."></textarea>
      <button class="btn waves-effect waves-light teal darken-1" type="submit" name="action">Enviar
         <i class="mdi-content-send right"></i>
      </button> 
		</form>
	</div>

</div>