@font-face {
    font-family: "Roboto";
    src: font-url(asset-path("Roboto-Thin.ttf"));
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: font-url(asset-path("Roboto-Light.ttf"));
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: font-url(asset-path("Roboto-Regular.ttf"));
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: font-url(asset-path("Roboto-Medium.ttf"));
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: font-url(asset-path("Roboto-Bold.ttf"));
    font-weight: 700;
}