// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize/sass/materialize";
@import "compass";

.drag-target {
  width: 15px;
}

.container {
  width: 95%;
  max-width: 1900px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
}

.hide {
  display: none;
}

h3 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}


//------------------- Nav -----------------------//

.brand-logo h2 {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  // margin-left: 40px;
  margin-top: 60px;
  // margin-top: auto;
  // margin-bottom: auto;
}


nav ul a {
  font-size: 1.4rem;
  font-weight: 400;
  // color: #fff;
  // display: block;
  // padding: 0px 15px;
}

nav li a {
  margin-right: 0.5em;
  margin-left: 0.5em;

}

nav li, nav a {
  line-height: 60px;
}

//------------------ ShowImovel  ---------------//

.endereso {
  color: #bdbdbd;
  letter-spacing: 0.15em;
  margin-bottom: 10px;
  a {
    color: inherit;
  }
}

.showImovel.card-panel {
  margin-top: 50px;
  padding: 15px;

  h2 {
    font-size: 2.5em;
    margin-top: 40px;
  }
}

.infoList {
  background: #f5f2f0;
  width: 50%;
  padding: 8px;
  margin: 100px auto 0 auto;
  border: solid 1px rgba(51, 51, 51, 0.12);
  line-height: 2em;
  font-size: 1.15em;

  li {
    margin: 0;
    padding: 0;
  }

  .icone2 {
    // color: #757575;
    // fill: currentColor;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    margin-right: 3px;
    position: relative;
    top: 10px;
  }
}

//------------------ Contato form --------------//

@mixin centerForm {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.contatoForm {
  position: relative;
  margin: 10px;
  margin-top: 180px;
  input {
    @include centerForm;
    margin-bottom: 20px;
    display: block;
    height: 30px;
  }

  textarea {
    @include centerForm;
    display: block;
  }

  .butao {
    @include centerForm;
  }
  
}

// ----------------- Jumbotron -----------------//

nav {
  margin-bottom: 0;
}

.bigImage {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), image-url("seattle.jpg") no-repeat scroll 0px 0px / cover #6CB16E;
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), image-url("seattle.jpg") no-repeat scroll 0px 0px / cover #6CB16E;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), image-url("seattle.jpg") no-repeat scroll 0px 0px / cover #6CB16E;
  width: 100%;
  height: 70vh;
  
  .title { 
    background: rgba(70, 72, 82, 0.8);
    display: inline;
    padding: 0.5rem;

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  
  h1 {
    color: #fff;
    background: rgba(70, 72, 82, 0.8);
    margin-top: 0;
    padding: 10px;
    font-size: 56px;
    line-height: 5rem;
  }
}

//----------------- Forms ----------------------//

form button {
  width: 100%;
  font-weight: 500;
  margin: 20px 0 !important;
}

label {
  display: block;
  margin: 5px 5px 0 5px;
  font-size: 1.1rem;
}

.checkbox {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  
}

select {
  cursor: pointer;
  margin: 0 0 12px 0 !important;
  padding: 3px 10px;
  height: 40px;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  max-width: 100%;
  outline: none;
  color: #333;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
}

option {
  font-weight: normal;
  display: block;
  padding: 0px 2px 1px;
  min-height: 1.2em;
}

input[type=checkbox] {
  display: inline-block;
  margin: 0;
  margin-top: 0;
  /* All browsers except webkit*/
  transform: scale(2);

  /* Webkit browsers*/
  -webkit-transform: scale(2);
}

// .preco {
//   font-weight: 500;
    
//     input[type=text] {
//       color: #333;
//       width: 30%;
//     }
// }

//------------------ Main ---------------------//

body {
  background-color: #FCFCFC; 
}

select {
  margin: 80px 20px;
}

h2 {
  margin: 70px 0 0 0;
  color: #00b0ff;
  font-weight: 300;
  font-size: 3.56rem;
  line-height: 3.916rem;
}

footer {
  margin-top: 90px;
  padding-top: 38px;

  .links {
    line-height: 2em;
    
    li {
      // width: 50%;
      // margin-right: auto;
      // margin-left: auto;
      border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
    }
    
    li:hover {
      background-color: #00695c; 
    }
  }
  
  .social li {
    display: inline-block;
  }
  .social-icons {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 3.1em;
    height: 3.1em;
    margin: 15px;
  }

  .social-icons:hover {
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  }
}

#nav-logo {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 1.3em;
}

.checkbox {
  left: 200px !important;
}
//-------------- Thumbs -------------------------//

.shower {
  margin-right: 2px; 
}

.card-panel {
  padding: 0;
}

.imovel:hover {
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0,3,0,0.5);
}

.imovel {
  cursor: pointer;
  margin-top: 40px;
  position:relative;
  // height: auto;  /* 430px; */
  
  .imovel_link {
    display: none; 
  }
  
  h4 {
    font-size: 1.2rem;
    font-weight: 300;
    color: #1e88e5;
    margin: 0;
    padding: 10px;
    line-height: 1;
  }
  
  .cidade-nome {
    padding-left: 10px;
    margin: 0 0 20px 0;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: #bdbdbd;
    line-height: 1;
  }
  
  .icons {
    color: #757575;
    fill: currentColor;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    margin-right: 3px;
    position: relative;
    top: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
    // height: 300px;
    margin: 0;
  }
  
  .row {
    // position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
  }
}

//-------------- Media Queries -----------------// 

@media #{$medium-and-up} {

.formuPesqui {
  margin-top: 50px;
  border-top: 4px solid rgba(25,118,210,.8);
  border-radius: 15px 15px 0 0;
}
  
  input[type=checkbox] {
    transform: scale(2.5);

    /* Webkit browsers*/
    -webkit-transform: scale(2.5);
  }
  
  .bottom-nav-menu {
    margin-top: 120px;
  }
  nav li {
    // line-height: 20px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
  }
  #cat {
    max-height: 180px;
  }

  // a#logo-container {
  //   line-height: 0;
  // }
}

@media #{$medium-only} {
  // a.button-collapse {
  //   left:  6%;
  // }
  nav li {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }

  .bottom-nav-menu {
    margin-top: 0;
  }

  .body {
    width: 100%;
    padding: 1rem;
  }

  .retangle {
    margin-top: 40px
  }

  .floatContato {
    margin-top: 40px;
  }

  .checkbox {
    margin-bottom: 40px;
    margin-top: 35px;
  }
}


@media #{$medium-and-down} {
  .brand-logo h2 {
    margin-top: auto;
    // margin-top: auto;
    // margin-bottom: auto;
  }
  .links li {
    line-height: 3em;
    margin-bottom: 5px;
    margin-bottom: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }


  .contatoForm:before {
    display: none;
  }
  
  .body {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .mostrar {
    text-align: center;
  }
  
  label {
    margin-bottom: 10px; 
  }
  
  select {
    margin: 10px 0 !important; 
  }
  
  #cat {
    max-height: 56px;
  }
  
  select {
    height: 55px;
  }
  
  h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
    
    a, p {
      font-size: 1.2em;
    }
  }

  // Media Queries Show imovel //
  .showImovel {
    margin-top: 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .endereso {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  body {
    padding-right: 0;
    padding-left: 0;
  }

}
  
@media #{$small-and-down} {
  .formuPesqui {

  }
  .brand-logo h2 {
    font-size: 2.5rem;
  }

  .imovel {
    height: 330px;

    img {
      height: 200px;
    }
  }

  .links li {
    width: 95%;
  }

  .formuPesqui {
    box-shadow: none;
    border-top: 4px solid rgba(25,118,210,.8);
    border-bottom: 1px solid #CCC;
    // border-radius: 5px 5px 0 0; 

    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: -4px;

    form {
      margin-left: 5%;
      margin-right: 5%;

      .checkbox {
        margin-bottom: 15px;
      }
    }
}

  .infoList {
  width: 100%;
  padding: 8px 0 8px 0;
  margin: 15px 0 0 0;
  line-height: 2em;
  font-size: 1.15em;

  li {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .icone2 {
    // color: #757575;
    // fill: currentColor;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    margin-right: 3px;
    position: relative;
    top: 10px;
  }
}

  h2 {
    // color: #00bfa5;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  p {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.2em;
  }

  // .endereso {
  //   font-weight: 500;
  // }

  .showImovel {
    margin-top: 25px;
  }



  .retangle {
    margin: 70px 0 0 0;
    padding-bottom: 40px;
  }

  footer {
    margin-top: 0;
  }
}

@media #{$large-and-up} {
  nav .container {
    width: 70%;
  }

  footer {
    .links {
      li {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

}