  <footer class="corPrincipal">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">Mizu Imóveis</h5>
          <p class="grey-text text-lighten-4">Av. da Folha 869 - Kanoha, Estado do Fogo</br>Tel <a href="tel:00000000">(00)000-000</a> / <a href="tel:00000000">(00)000-000</a></br>contato@mizuimoveis.com</p>
        </div>
        <div class="col l3 s12 center">
          <h5 class="white-text">Links</h5>
          <ul  class="links">

                <li><a class="white-text" href="/imoveis?utf8=✓&cidade[id]=&bairro[id]=&tipo[id]=&venda=1&quartos=&banheiros=&vagas=">Venda</a></li>
                <li><a class="white-text" href="/imoveis?utf8=✓&cidade[id]=&bairro[id]=&tipo[id]=&aluguel=1&quartos=&banheiros=&vagas=">Aluguel</a></li>

                <li><a class="white-text" href="/imoveis">Pesquisar</a></li>
                <li><a class="white-text" href="/contato">Contato</a></li>

            
          </ul>
        </div>
        <div class="col l5 s12 center">
          <h5 class="white-text">Nossas redes sociais</h5>
          <ul class="social">
            <a class="white-text" href="#!"><li><%= inline_svg("facebook.svg",  class: "social-icons") %></li></a>
            <li><a class="white-text" href="#!"><%= inline_svg("twitter.svg", class: "social-icons") %></a></li>
            <li><a class="white-text" href="#!"><%= inline_svg("whatsapp.svg", class: "social-icons") %></a></li>
            <li><a class="white-text" href="#!"><%= inline_svg("telegram.svg", class: "social-icons") %></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
 	    &nbsp;
      </div>
    </div>
  </footer>