  <footer class="teal darken-1">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h5 class="white-text">Mizu Imóveis</h5>
          <p class="grey-text text-lighten-4">Av. da Folha 869 - Kanoha, Estado do Fogo</br>Tel (00) 000-0000 / (00) 000-0000</br>contato@mizuimoveis.com</p>
        </div>
        <div class="col l2 s12 center">
          <h5 class="white-text">Links</h5>
          <ul  class="links">
            <div class="row">
              <div class="col l12 s6">
                <li><a class="white-text" href="#!">Venda</a></li>
                <li><a class="white-text" href="#!">Aluguel</a></li>
              </div>
              <div class="col l12 s6">
                <li><a class="white-text" href="#!">Pesquisar</a></li>
                <li><a class="white-text" href="#!">Contato</a></li>
              </div>
            </div>
          </ul>
        </div>
        <div class="col l5 s12 center">
          <h5 class="white-text">Nossas redes sociais</h5>
          <ul class="social">
            <a class="white-text" href="#!"><li><%= inline_svg("facebook.svg",  class: "social-icons") %></li></a>
            <li><a class="white-text" href="#!"><%= inline_svg("twitter.svg", class: "social-icons") %></a></li>
            <li><a class="white-text" href="#!"><%= inline_svg("whatsapp.svg", class: "social-icons") %></a></li>
            <li><a class="white-text" href="#!"><%= inline_svg("telegram.svg", class: "social-icons") %></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
 	    &nbsp;
      </div>
    </div>
  </footer>