<nav class="corPrincipal" role="navigation">
  <div class="container">
    <div class="nav-wrapper"><a id="logo-container" href="/" class="brand-logo"><h2>Mizu Imo</h2></a>
        <ul id="nav-mobile" class="right side-nav bottom-nav-menu">
          <li class="teal lighten-1 hide-on-large-only"><a id="nav-logo" href="#">Mizu Imóveis</a></li>
          <li><a href="/">Início</a></li>
          <li><a href="/pesquisa?utf8=✓&cidade=&bairro=&tipo[id]=&venda=1&quartos=&banheiros=&vagas=">Venda</a></li>
          <li><a href="/pesquisa?utf8=✓&cidade=&bairro=&tipo[id]=&aluguel=1&quartos=&banheiros=&vagas=">Aluguel</a></li>
<!--           <li><a href="/imoveis">Todos os imóveis</a></li>
 -->          <li><a href="/contato">Contato</a></li>
        </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </div>
</nav>
