<nav class="teal lighten-1" role="navigation">
  <div class="container">
    <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo"><%= image_tag("cat.png", class: "responsive-img", id: "cat") %></a>
        <ul id="nav-mobile" class="right side-nav bottom-nav-menu">
          <li class="teal lighten-1 hide-on-med-and-up"><a id="nav-logo" href="#">Mizu Imóveis</a></li>
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/pesquisas?utf8=✓&venda=1">Imóveis a venda</a></li>
          <li><a href="/pesquisas?utf8=✓&aluguel=1">Imóveis para alugar</a></li>
          <li><a href="/pesquisas?utf8=✓&venda=1&aluguel=1">Todos os imóveis</a></li>
          <li><a href="#">Contato</a></li>
        </ul><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </div>
</nav>
